/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Global Style */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  --darkModeButtonColor: #ffe66d;
  --backgroundColor: #2f3061;
  --profileCol: #2f3061;
  --navCol: #2f3061b6;
  --projjCol: #2f3061;
  --workEx: #2f3061;
  --normalTextColor: #f7fff7;
  --navHoverColor: #0087ca;
  --proBtn: #a1c6d7;
  --proBtnText: #343434;
  --proBtnHov: #a1c6d7c2;
  background: var(--backgroundColor);
  color: var(--normalTextColor);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
body.dark {
  --darkModeButtonColor: rgb(0, 170, 255);
  --backgroundColor: #a1c6d7;
  --profileCol: #a1c6d7;
  --navCol: #a1c6d7b6;
  --projjCol: #a1c6d7;
  --workEx: #a1c6d7;
  --normalTextColor: #343434;
  --navHoverColor: #0087ca;
  --proBtn: #2f3061;
  --proBtnText: #f7fff7;
  --proBtnHov: rgba(47, 48, 97, 80%);
  background: var(--backgroundColor);
  color: var(--normalTextColor);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  /* font-family: "Caveat", cursive; */
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.dividerP > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
.dividerP > section:nth-last-of-type(1) {
  border-bottom: none;
}
.dividerP > section:nth-last-of-type(2) {
  border-bottom: none;
}
.dividerP > section:nth-last-of-type(3) {
  border-bottom: none;
}

/* Darkmode button */
.darkMode {
  float: right;
  /* padding: 5px 5px 5px 5px; */
  /*padding: .5em 1em;*/
  /* margin-bottom: 50px; */
  margin-right: 15px;
  padding-top: 5px;
  background: var(--darkModeButtonColor);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  cursor: pointer;
  border-radius: 0.5em;
  border: none;
  outline: none;

  /*transform: scale(1);*/
}
.darkMode:hover {
  transform: scale(1.1);
  /*background: red;*/
}

/* Navigation */
.nav ul {
  /* background: var(--backgroundColor); */
  background: var(--navCol);
  position: fixed;
  height: 55px;
  padding: 15px;
  min-width: 100%;
  margin-top: 0;
  /* margin-bottom: 0; */
  padding-right: 0;
  z-index: 100;
}
.nav li {
  display: inline-block;
  font-size: 20px;
}
.nav a {
  padding: 15px;
  text-decoration: none;
  color: var(--normalTextColor);
  transition: transform 1s;
  position: relative;
}
/* .nav a:hover {
  text-decoration: underline;
} */
.nav a:after {
  content: "";
  position: absolute;
  width: 75%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 12.5%;
  background-color: var(--navHoverColor);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.nav a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/* Profile */
header {
  background: var(--profileCol);
}

/* Projects */
.projects {
  background: var(--projjCol);
}
.projects a {
  color: var(--proBtn);
}
.projects .btn {
  color: var(--proBtnText);
  background: var(--proBtn);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  transition: transform 0.2s;
}
.projects .btn:hover {
  background: var(--proBtnHov);
  transform: scale(1.04);
}
.project-item {
  overflow: hidden;
}
.projects img {
  border-radius: 5%;
}
.projects a img {
  transition: transform 0.2s;
}
.projects a img:hover {
  transform: scale(1.03);
}
.project-item h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

/* Work Experience */
.work-experience {
  background: var(--workEx);
}
.work-experience a {
  color: var(--proBtn);
}

/* Education */
.education {
  color: #343434;
  background-image: url(../Images/pencil.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* Contact */
footer {
  background: #343434;
  color: #f7fff7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive */
@media screen and (min-width: 850px) {
  header,
  footer {
    text-align: center;
  }
  .projects {
    text-align: center;
  }
  .project-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1220px) {
  .project-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
}

@media screen and (max-width: 849px) {
  h1 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
}
@media screen and (max-width: 675px) {
  .nav li {
    font-size: 18px;
  }
  .nav a {
    padding: 5px;
  }
  .nav a:after {
    width: 90%;
    top: 32px;
    left: 6%;
  }
}
@media screen and (max-width: 530px) {
  .nav a {
    padding: 1px;
  }
  .nav a:after {
    width: 97%;
    top: 27px;
    left: 2%;
  }
  h1 {
    font-size: 65px;
    line-height: 1;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 445px) {
  .nav li {
    font-size: 14px;
  }
  .nav a:after {
    top: 23px;
  }
}
