body
{
	padding: 0;
	margin: 0;
	font-family: arial;
/*	display: flex;
	flex-direction: column;*/
	/*background is for what it is*/
	/*colour is for normal text*/
	--darkModeButtonColor: yellow;
	--backgroundColor: white;
	--normalTextColor: black;
	--navBarColor: #F8F8FF;
	--navBarText: #000;
	--navHoverColor: rgb(0,170,255);
	--delay: 1s;

	/*transition: var(--delay);*/
	background: var(--backgroundColor);
	color: var(--normalTextColor);
}

body.dark
{
	--darkModeButtonColor: var(--navHoverColor);
	--backgroundColor: rgb(20, 20, 20);
	--normalTextColor: white;
	--navBarColor: rgb(40,40,40);
	--navBarText: white;
}

.icon
{
	/*color: var(--normalTextColor)*/
}

.Profile img
{
	height: 200px;
	border-radius: 50%;
	position: center;
}

.projects img
{	
	display: block;
 	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 5%;
	max-height: 400px;
	max-width: 400px;
}

.projects iframe
{
	display: block;
 	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
	/*background:url(Projects/Loading.gif) center center no-repeat;*/
}

/*.projects iframe: before
{
	background:url(Projects/Loading.gif) center center no-repeat;
}*/

.experience img
{	
	display: block;
 	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 5%;
	max-height: 400px;
	max-width: 400px;
}

h1
{
	text-align: center;
}

ul
{
	position: fixed;
	float: left;
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	background: var(--navBarColor);
	/*background of nav bar*/
}

ul li
{
	float: left;
	list-style-type: none;
	padding: 20px 5px;
}

.darkMode
{
	float: right;
	padding: 5px 5px 5px 5px;
	/*padding: .5em 1em;*/
	margin-top: .6rem;
	margin-right: .6rem;
	background: var(--darkModeButtonColor);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;	
	border-radius: .5em;
	border: none;
	outline: none;

	/*transform: scale(1);*/
}

.darkMode:hover
{
	transform: scale(1.1);
	/*background: red;*/
}


ul h3
{
	float: left;
	list-style-type: none;
	padding: 0px 50px 0px 20px; 
}

ul li a 
{
	text-decoration: none;
	text-align: center;
	color: var(--navBarText);
	/*color of text normal*/
}

li:hover 
{
	/*background: grey;*/
	/*Background of hover*/
	cursor: pointer;
}

li:hover a
{
	/*color: #fff;*/
	color: var(--navHoverColor);
	/*color of text when hover*/
}

.contacts a
{
	text-decoration: none;
	color: var(--navHoverColor);
	padding-right: 50px;
}

.contacts a:hover
{
	text-decoration: underline;
}

.contacts a:visited
{
	text-decoration: none;
	color: var(--navHoverColor);
}


.projects a
{
	text-decoration: none;
	color: var(--normalTextColor);
}

.projects a:hover
{
	text-decoration: underline;
	transform: scale(1.1);
}

.projects a:visited
{
	text-decoration: none;
	color: var(--normalTextColor);
}

.main
{
	max-width: 700px;
	margin: 0 auto;
	padding-top: 50px;

}
